@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.dashboard-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0px 1px 5px 0px rgba(160, 160, 160, 0.5);
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  z-index: 2;
}

.dashboard-search {
  font-family: 'FontAwesome', Arial;
  width: 14rem;
  margin-left: 1rem;
  height: 2.3rem;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 16px;
}

.dashboard-search:focus-visible {
  outline: none;
}

.center-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dashboard-icon {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: white;
}

.dashboard-header button {
  border: none;
  background-color: rgb(255, 255, 255);
}

.dashboard-icon.active {
  border-bottom: 2px solid var(--facebook-color);
}

.dashboard-icon:hover {
  background-color: rgb(241, 241, 241);
  cursor: pointer;
  transition: 0.3s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rightside-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rightside-findfriends {
  align-items: center;
  display: flex;
  height: 2rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  transition: 0.3s ease;
}

.rightside-findfriends.active {
  background-color: rgb(233, 243, 254);
  color: rgb(57, 117, 234);
}

.rightside-menu,
.rightside-messages,
.rightside-notifactions,
.rightside-user {
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  transition: 0.3s ease;
  height: fit-content;
  width: 2.3rem;
}

.icon--active {
  color: #4090e6;
}

#rightFindFriends {
  background-color: rgb(228, 230, 234) !important;
}

#rightFindFriends:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
  transition: 0.3s;
}

#rightButtons {
  background-color: rgb(228, 230, 234);
  transition: 0.3s ease;
}

#rightButtons:hover {
  background-color: rgb(214, 214, 214);
  cursor: pointer;
  transition: 0.3s;
}